body {
  font: 18px "Times", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

th,td {
  border: solid 1px;
  padding: 10px;
}

table {
  font-family: math;
  font-size: 12px;
  border-collapse:  collapse;
}